header.main-header
    nav.main-nav
        span.logo 
            a(href = 'https://point-agency.net')
                img(src='./img/logo.png')

        ul.lang-list
            li.lang-item 
                button.choose-lang(value="ru") Ru
            li.lang-item 
                button.choose-lang(value="en") En

        ul.top-menu
            li.menu-item 
                a(href = '#') Вертолеты и цены
            li.menu-item 
                a(href = '#') Галерея
            li.menu-item 
                a(href = '#') О нас
            li.menu-item 
                a(href = '#') Правила
            li.menu-item 
                a(href = '#') Контакты
        
        .contacts
            ul.messengers
                li.messengers-item.online-status Online now
                li.messengers-item
                    a.messengers-links(href="viber://chat?number=+380671234567") Viber
                li.messengers-item 
                    a.messengers-links(href="whatsapp://send?phone=+380671234567") Whatsapp

            a.messengers-links(href="tel:+380671234567")
                span.tel-number +38 (067) <b class="bold-part">12-34-567</b>
            a.callback-order(href='#') Вам перезвонить?
    section.intro
        .copter-img
        .intro-text-block
            span.weather-info
                | Погода в Буковеле <img class="weather-icon" src="./img/weather-icon.png"> <span class='temp'>4 °C</span>

            span.heading-first В Буковель
            span.heading-second на вертолете

            p.intro-text 
                | Дорожишь своим временем и любишь
                | кататься на лыжах? Заказывай быстрый
                | перелет и будешь <b class='intro-bold'>в Буковели всего
                | через 3 часа.</b>

            button.intro-video-on 
                | <span class="play-button"><div class="for-pseudo"></div><img class="play-icon" src="./img/play-icon.png"> Смотреть видео</span>
